header{
    display: block;
    position: relative;
}

.header-top{
    block-size: 44px;
}
.header-top i{
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.header-top i,p{
    display: inline-block;
    align-items: center;
}

/*  */
.header-image{
    block-size: 262px;
    background-image: url('../src/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*  */
.brazoLogo{
    font-size: 5rem;
    position: absolute;
    left: 10%;
    bottom: -2rem;
}

@media screen and (max-width:560px){
    .header-top{
        display: none;
    }
    .header-image{
        block-size: 202px;
        background-image: url('../src/banner1.png');
        background-position: calc(-100px);
        background-size: cover;
    }
}

@media screen and (min-width:560px){
    .header-top{
        display: block;
    }
}